.landing-container {
  margin: 150px 100px 50px 100px;
  font-family: roboto, arial, sans-sarif !important;
  background-color: #254570;
  padding: 10px;
  text-align:center;
  color: #eeeeee;

  img {
    width: 30%;
    height: 30%;
  } 

  a {
    font-size: 50px;
    color: #eeeeee;
    font-weight: 600;
  }

  a:hover {
    color: #E17F7F;
    opacity: 1;
    transition:visibility 0s ease-in-out 0.4s, opacity 0.4s ease-in-out;
    -webkit-transition:visibility 0s ease-in-out 0.4s, opacity 0.4s ease-in-out;
    -moz-transition:visibility 0s ease-in-out 0.4s, opacity 0.4s ease-in-out;  
  }
}
