// Index

body {
  background-color: #254570;
}

.park-tile {
  background-color: #213e64;
  box-shadow: 0 8px 8px 0 rgba(0,0,0,.4);
  text-align: center;
  border-radius: 5px;
  border: 1.5px solid #c0c0c0;
  margin: 30px 10px 15px 10px;
  height: 345px;
  padding: 10px;
  height: 360px;

  a {
    color: white;
    font-family: Argent;
    font-weight: 600;
    letter-spacing: 2px;
  }

  a:hover {
    color: #FAC978;
  }

  img {
    width: 80%;
    border-radius: 5px;
  }
}

.park-tile-container {
  margin: 100px;
  font-family: Argent;
  font-size: 30px;
}

.park-tile-image {
  position: relative;
  width: 100%;   
  height: 275px;
  overflow: hidden;
  padding: 20px;
  opacity: 1;
}

.park-tile-image:hover {
  transition:visibility 0s ease-in-out 0.4s, opacity 0.4s ease-in-out;
  -webkit-transition:visibility 0s ease-in-out 0.4s, opacity 0.4s ease-in-out;
  -moz-transition:visibility 0s ease-in-out 0.4s, opacity 0.4s ease-in-out;  
}

.park-tile-image img {
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

// Forms

.signup-container {
  margin: auto;
  margin-top: 100px;
  margin-bottom: 50px;
  width: 50%;
  background-color: white;
  padding: 10px;
  border-radius: 6px;
  box-shadow: 0 4px 6px 0 rgba(0,0,0,.2)
}

.signup-header{
  font-size: 30px;
  text-align: center;
  font-weight: 900;
  margin-top: 50px;
}

.signup-form{
  margin: auto;
  text-align: left;
  font-family: roboto, arial, sans-sarif;
  width: 70%;
  background-color: white;
  padding: 20px;
  margin-bottom: 50px;
}

.signup-text{
  font-size: 18px;
}

.button {
  padding: 13px 14px;
  background-color: #fac978;
  border: 1px solid #fac978;
  color: #4c4e52;
  border-radius: 20px;
  margin-right: 5px;

  &:hover {
    color: #ffffff;
    background-color: #4c4e52;
    border: 1px solid #4c4e52;
  }
}

.actions {
  margin-top: 10px;
}