// Nav Bar

.nav-bar{
  display: flex;
  align-content:center;
  flex-direction: row;
  justify-content: space-between;
  background-color: #eeeeee;
  position: fixed;
  width: 100%;
  z-index: 10;
  top: 0;
  box-shadow: 0 4px 4px 0 rgba(0,0,0,.2)
}

.top-bar-left{
  font-size: 3rem;
  font-family: Argent;
  font-weight: 900;
  letter-spacing: 2px;
  padding-top: 0%;
  margin-left: 30px;

  a {
    color: #254570;
  }

  a:hover{
    color: #FAC978;
  }
}

.top-bar-right{
  margin-top: 23px;
  padding: 0 30px;
 
  a {
    color: #4C4E52;
    font-family: roboto, arial, sans-sarif !important;
  }

  .nav-text{
    font-size: 13.5px;
    font-weight: bold;
    margin-top: 20px;
    background-color: white;
    padding: 15px;
    border-radius: 20px;
  }

  //** comment out if needed
  .sign-up {
    background-color: #254570;

    a { 
      color: #ffffff;
    }
  }
}

