.journal-container{
  margin: auto;
  width: 70%;
  margin-top: 20px;
  margin-bottom: 10px;
  background-color: white;
  padding: 10px;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.2)
}

.journal-button {
  display: flex;
  align-content:left;
  flex-direction: row;
  justify-content: space-between;
  width: 20%;
}

.journal-tile {
  margin: 50px;
  padding: 10px;
  background-color: #EEEEEE;
}

.journal-user {
  font-size: 30px;
  color: #646E68;
}

.journal-body {
  font-size: 20px;
}

.edit-div {
  margin: 100px;
}

.journal-rating {
  font-size: 50px;
}

.park-journal {
  margin: 50px;
  padding: 10px;
}

.journal-submit {
  padding: 13px 14px;
  background-color: #646E68;
  color: white;
}

.journal-rating {
  font-size: 25px;
  margin-bottom: 10px;
}