// Show Page

.s-container {
  margin-bottom: 50px;
}

.show-container{
  margin: auto;
  width: 70%;
  margin-top: 100px;
  margin-bottom: 10px;
  background-color: white;
  padding: 50px;
  border-radius: 6px;
  box-shadow: 0 4px 6px 0 rgba(0,0,0,.2)
}

.show-name{
  font-size: 40px;
  font-family: Argent;
  font-weight: 600;
  letter-spacing: 2px;
  text-align: center;

  a {
    color: #646E68;
  }

  a:hover {
    color: #254570;
  }
}

.show-description{
  font-size: 18px;
  font-family: "Lyon", sans-serif;
  font-weight: 200;
  letter-spacing: 1px;

padding-top: 20px;
  padding: 10px;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}

.show-image {
  width: 58%;
  margin-left: auto;
  margin-right: auto;
  padding: 30px;

  img {
    border-radius: 2px;
  }
}

.show-location {
  font-family: "Lyon", sans-serif;
  text-align: center;
  font-size: 25px;
  font-weight: 600;
  color: #E17F7F
}